.h1_contact{
    font-weight: 900;
}

.contact_container_1{
    display: flex;
}

.contact_container_1_line{
    width: 5%;
    height: 2px;
    background-color: black;
    align-self: center;
    margin-right: 1%;
}

.a_contact_container_1{
    font-weight:lighter;

}

.contact_container_2_3 {
    display: flex;
    justify-content: space-between;
}

.p_contact_container_2_3_bold{
    font-family: "Work Sans";
    font-weight: 700;
}

.p_contact_container_2_3{
    text-align: end;

}



