.last-testimonials {
    h2 {
        margin-top:clamp(pxToRem(114), 12.5vw, pxToRem(160));

        @media (max-width: 1050px) {
            text-align: center;
        }
    }
}

.last-testimonials + section {
    h2 {
        margin-top: pxToRem(120);
    }
}

.home-title {
    margin-bottom: pxToRem(51);

    &:nth-of-type(2) p + div {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    &:nth-of-type(2) div > div {
        flex-basis: 50%;
        a{
            transition: transform 0.20s ease-out;
            &:hover{
                font-weight: bold;
                font-style: italic;
            }
        }
    } 

    &:nth-of-type(3) {
        margin: pxToRem(120) 0 pxToRem(160) 0;
    }
}

.charities {
    a::after{
            display: none;
        }
    
    a > img {
        height: auto; 
        width: pxToRem(147);
    }

    img{
        width: 150px;
    }

    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
}
