.charities_div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: 1px solid #000;
    transition: all 0.5s ease-in-out;

}
 // .charities_div:hover{
 // background-color: #f1f1f1bd;
 // }
.charities_div_a{
    font-weight: 600;
    a::after{
        display: none;
    }
}

.charities_div_p{
    text-align: end;
    @media (max-width: 768px) {
        text-align: left;
    }
}

.charities_div_img{
    padding: 5%;
    margin:-5% 0;
}

.charities_div_img::after{
background-color: transparent;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

.pagination a, .pagination span {
    font-size: pxToRem(20);
    margin: 0 2%;
    padding: 5px 10px;
  }
  
.pagination .current {
    margin: 0 2%;
    padding: 5px 10px;
    color: #000;
    font-size: pxToRem(24);

  }