.charities_div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-right: 10px;
}

.charities_div_a{
    a::after{
        display: none;
    }

}

.charities_div_p{
    text-align: end;
}