.quisommesnous
{
    margin-bottom: clamp(2.9rem, 3.3vw, 4.2rem);

&__container {
    display: flex;
    margin-left: 3%;
    margin-right: 3%;
    flex-direction: column;
}

&__text__title {
    font-size: clamp(2.6rem, 1vw, 3.2rem);
    margin-bottom: clamp(2.9rem, 3.3vw, 4.2rem);
}

&__wrapper__left{
    align-items: flex-start;
    margin: clamp(2.9rem, 3.3vw, 4.2rem) auto;

}

&__wrapper__right{

    align-items: flex-end;
    text-align: end;
}

}