.quisommesnous
{
    margin-bottom: clamp(2.9rem, 3.3vw, 4.2rem);

&__container {
    display: flex;
    margin-left: 3%;
    margin-right: 3%;
    flex-direction: column;
}

&__text__paragraph {
margin-right: 40%;
}

&__text__subhead {
font-weight: 500;
}

&__wrapper__left{
    align-items: flex-start;
    margin: clamp(2.9rem, 3.3vw, 4.2rem) auto;
    font-weight: 300;

}

&__wrapper__right{

    align-items: flex-end;
    text-align: end;
    margin-left: 40%;
}

}