<h1>Modifier le nom du domaine</h1>

<%= render "form", need: @need %>

<br>

<div>
  <%= link_to "Voir le domaine", @need %> |
  <%= button_to "Supprimer le domaine", @need, method: :delete, class:"btn" %>
</div>
