<article class="capsule">
    <%= link_to capsule do %>
        <div>
        <%= image_tag capsule.poster unless capsule.poster.blank? %>
            <p>Voir la vidéo</p>
            <blockquote>
              <p><%= capsule.quote %></p>
            </blockquote>
        </div>
        <figcaption>
          <h3><%= capsule.first_name %></h3>
          <p>nous parle de Singa</p>
        </figcaption>
    <% end %>
</article>
