<h1>Modifier les informations de la capsule</h1>

<%= render "form", capsule: @capsule %>

<br>

<div>
  <%= link_to "Voir la capsule", @capsule %> 
  <%= button_to "Supprimer la capsule", @capsule, method: :delete, class:"btn" %>
</div>
