<h1>Editing capsule</h1>

<%= render "form", capsule: @capsule %>

<br>

<div>
  <%= link_to "Show this capsule", @capsule %> |
  <%= link_to "Back to capsules", capsules_path %>
  <%= button_to "Supprimer la vidéo", @capsule, method: :delete, class:"btn" %>
</div>
