<h1>Les vidéos</h1>

<<<<<<< HEAD
<% @capsules.each do |capsule| %>
  <%= render capsule %>
<% end %>
=======
<div class="capsules">
    <% @capsules.each do |capsule| %>
        <%= render capsule %>
    <% end %>
</div>
>>>>>>> e7555151d80a7fac7c5c5fbbe91e5b67a0d7934f
