<footer class="footer" role="contentinfo">
    <div class="footer__container">
        <%= image_tag("logo-white.svg", alt: "logo share and change en blanc", class:"logo footer__logo")%>
        <div class="footer__wrapper">
            <%= render 'partials/nav'%>

            <div class="footer__contact">
                <address class="footer__address">
                    <p class="footer__address__contact">Contact :</p>
                    33800 Bordeaux, France
                    <br/>
                    <a href="tel:+33622905439">+33622905439</a><br/>
                    <a title="shareandchange33@gmail.com - lien externe" target="_blank" class="footer__address__mail" href="mailto:shareandchange33@gmail.com">shareandchange33@gmail.com</a>
                </address>
            </div>
        </div>    

        <!-- CGU  / Mention Legale -->

        <!-- renommer rights / bottom-->
        <div class="footer__rights">
            <span class="footer__rights__links">
                <%= link_to "Mentions légales" %>
            </span>
            <span class="footer__rights__links">
                <p>©2022 share&change,<br/>
                Tous droits réservés.
                </p>
            </span>
            <span class="footer__rights__links">
                <%= link_to "CGU" %>
            </span>
        </div>
    </div>
</footer>