<header class="header">
    <div class="header__wrapper">
        <div class="header__text"> 
            <p>Hello</p>
            <h1>Chez <span class="font-logo">share&change</span>,<br/> te faciliter la vie est notre priorité</h1> 
            <p>C’est pour cela que nous nous engageons à trouver une solution à ton besoin, sans avoir à passer par quatre chemins.</p>
        </div>
        <%= image_tag("jpg/desktop-header.jpg", alt:"Portrait d'une femme qui sourit") %>
    </div>
</header>