<nav class="nav">
    <%= image_tag("logo-black.svg", alt:"logo de share and change", class:"nav__logo") %>
    <div class="nav__wrapper">
        <%= image_tag("france-flag.svg", alt:"France", class:"nav__lang")%>
        <button class="nav__menu">
            <div class="nav__menu__accessibility"></div>
            <div class="nav__menu__line"></div>
            <div class="nav__menu__line"></div>
            <div class="nav__menu__line"></div>
        </button> 
    </div>  
</nav>