html {
    //font-size: 62.5%;
    font-size: pxToRem(16);
}

main{
    min-height: 100vh;
}

ul {
    padding: 0;
    list-style: none;
}

address {
    font-style: normal;
}

a {
    text-decoration: none;
    position: relative;
  color: #000;
    &:after{
        content: '';
  position: absolute;
  width: 50%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform-origin: bottom right;
  transition: transform 0.20s ease-out;
  
}
&:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
    
}
