* {
    box-sizing: border-box;
}

html {
    //font-size: 62.5%;
    font-size: pxToRem(16);
}

main{
    min-height: 100vh;
}

ul {
    padding: 0;
    list-style: none;
}

address {
    font-style: normal;
    text-align: right;
}

a {
    text-decoration: none;
}
