

h1 {
    font-family: var(--ff-title);  
}

p, a, address {
    font-family: var(--ff-sans-serif);
    font-weight: var(--fw-400);
    font-size: clamp(pxToRem(18), 2vw, pxToRem(25));
    line-height: var(--lh-paragraph);
}

a, address {
    color: var(--white);
}

p {
    --min-p-font-size-rem : calc(var(--min-p-font-size) * var(--one-pixel-rem));
    --max-p-font-size-rem: calc(var(--max-p-font-size) * var(--one-pixel-rem));
    --fluid-font-size-p-rem: calc( 
    var(--slope-p) * (100vw - var(--min-vw-rem)) + var(--min-p-font-size-rem) 
  );
  font-size: clamp( 
    var(--min-p-font-size-rem), 
    var(--fluid-font-size-p-rem), 
    var(--max-p-font-size-rem) 
  ); 
}

h1 {
    --min-h1-font-size-rem: calc(var(--min-h1-font-size) * var(--one-pixel-rem));
    --max-h1-font-size-rem: calc(var(--max-h1-font-size) * var(--one-pixel-rem));
    --fluid-font-size-h1-rem: calc(
        var(--slope-h1) * (100vw - var(--min-vw-rem)) + var(--min-h1-font-size-rem)
    );
    font-size: clamp(
        var(--min-h1-font-size-rem),
        var(--fluid-font-size-h1-rem),
        var(--max-h1-font-size-rem)
    );
}

h2 {
    --min-h2-font-size-rem: calc(var(--min-h2-font-size) * var(--one-pixel-rem));
    --max-h2-font-size-rem: calc(var(--max-h2-font-size) * var(--one-pixel-rem));
    --fluid-font-size-h2-rem: calc(
        var(--slope-h2) * (100vw - var(--min-vw-rem)) + var(--min-h2-font-size-rem)
    );
    font-size: clamp(
        var(--min-h2-font-size-rem),
        var(--fluid-font-size-h2-rem),
        var(--max-h2-font-size-rem) 
    );
}

.font-logo {
    font-family: "Blatant";
}
