<section class="hero">
    <div class="hero__container">
        <div class="hero__content">
            <div class="hero__text">
                <p class="hero__text__hello">Hello!</p>
                <h1 class="hero__text__title">
                  Chez <span class="font-logo">share&change</span>,
                  faciliter la vie est notre priorité.
                </h1>
                <p>C’est pour cela que nous
                nous engageons à trouver,
                une solution à ton besoin,
                sans avoir à passer par
                quatre chemins.
                </p>
            </div>
        </div>
        <div class="hero__image">
          <%= image_tag "jpg/desktop-header.jpg",
                        alt:"",
                        srcset:"/assets/jpeg@2x/desktop-header@2x.jpeg 2x" %>
        </div>
    </div>
</section>

<section>
    <h2>Nos derniers témoignages</h2>
    <% @capsules.each do |capsule| %>
      <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/<%= capsule.video %>?h=b260a3b1b0&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
      <%= link_to capsule.quote, capsule %>
    <% end %>
</section>

<section>
    <h2>Chaque histoire mérite d’être partagée</h2>
</section>

<section>
    <h2>Nous leur faisons confiance</h2>
</section>

<section>
    <h2>Envie de nous rejoindre ou de témoigner ?</h2>
    <p>Nous travaillons en étroite collaboration avec des associations, organisations et entreprises mettant en oeuvre des moyens pour accélérer et faciliter l’intégration des réfugiés à l’échelle régionale mais également nationale.</p>
</section>
