<h1>Conditions Générales d'Utilisation</h1>

<p>Share and Change est une plateforme à but non lucratif créée dans le cadre d’un projet universitaire (IUT Bordeaux Montaigne) par un groupe d’étudiants. Il consiste à être le premier site internet qui référence toutes les organisations (associations, entreprises et administrations) pouvant faciliter la vie des réfugiés. Le site web s’appuie sur un modèle besoin/solution où chaque solution sera présentée dans une vidéo de 20 à 30 secondes par un réfugié qui l’a expérimenté avec succès.</p>

<h2>I - Propriété intellectuelle :</h2>

<p>L’IUT Bordeaux Montaigne, propriétaire des droits de propriété intellectuelle et détentrice des droits d’usage sur tout le contenu proposé notamment sur les textes et les images, sauf en cas d’autorisation de la part de l’IUT Bordeaux Montaigne. Toute contrefaçon sur les droits d’auteur, les droits d’image, les droits voisins, … liant la propriété intellectuelle, est interdite, quels que soient les moyens utilisés et leur destination. En cas de reproduction des droits de la propriété intellectuelle, l’équipe de Share and Change peut engager des poursuites judiciaires pour non-respect des droits intellectuels de Share and Change, conformément à l’article  L. 335-2 s du Code de la propriété intellectuelle (CPI).</p>

<h2>II - Réglementation sur les commentaires des internautes via les réseaux sociaux  :</h2>

<p>Share and Change présente sur différents réseaux sociaux (Instagram, Facebook, Viméo) doit être le modérateur de tous commentaires inappropriés.</p>

<h3>Règles de bonnes conduites sur les réseaux sociaux :</h3>

<p>Toutefois, tous les internautes se doivent de respecter la parole des autres internautes et leur personne. Le savoir-vivre et la politesse sont des valeurs indispensables sur nos réseaux sociaux.  En cas de commentaire non acceptable ou frauduleux, le responsable de l’édition peut le supprimer en donnant la raison de ce rejet.</p>

<h2>III - Respect de la loi :</h2>

<p>Au vu de la législation, la plateforme Share and Change se doit de respecter la RGPD (Règlement général sur la protection des données). Cependant, il nous est interdit de publier, vendre un contenu inapproprié, provoquer des mineurs, inciter à la haine, tenir des propos injurieux, diffamatoires, ne pas respecter le droit à l'image, ne pas respecter le droit d’auteur et la propriété intellectuelle, ne pas mentionner des données sensibles.</p>

<h2>IV - Crédits :</h2>

<ul>
    <li><p>Design de la plateforme : Mahela Pellot, Flavie Blanchet, Anaïs Akkouche, Safiya Seddiki, Ly Luu Bories, Anaïs Delavier </p></li>
    <li><p>Développement de la plateforme: Julian Laballe, Francia Bidzimou</p></li>
    <li><p>Montage des vidéos : Théo Saminadin, Flavie Blanchet</p></li>
    <li><p>Photographe : Nathaël Labat</p></li>
    <li><p>Attaché de presse : Anaïs Delavier</p></li>
    <li><p>Communication : Safiya Seddiki, Nathaël Labat</p></li>
    <li><p>Rédaction des mentions légales et CGU : Louna Charrieau</p></li>
</ul>
