<h1 class="h1_contact">Contactez-nous !</h1>


<div class="contact_container_2_3">


        <p class="p_contact_container_2_3_bold"> Une association, organisation, entreprise ? </p>



        <p class="p_contact_container_2_3">Vous êtes intéressés par notre projet et souhaitez proposer vos services en visant l’inclusion sociale ? </p>


</div>

<div class="contact_container_2_3">


    <p class="p_contact_container_2_3_bold"> Nouvel arrivant en France ? </p>



    <p class="p_contact_container_2_3"> Vous souhaitez participer à notre projet au travers d’un témoignage ?</p>


</div>

<div class="contact_container_1">

     <p class="p_contact_container_1">Envoyez-nous un mail à l’adresse suivante :</p>

    <div class="contact_container_wrapper_1">  
        <div class="contact_container_1_line">
        </div>
        <a href="mailto:shareandchange33@gmail.com" class="a_contact_container_1">shareandchange33@gmail.com</a>
    </div>
    
</div>

<div class="contact_container_4">

     <p class="p_contact_container_2_3_bold">Ou sur nos différents réseaux sociaux :</p>

    <div class="contact_container_wrapper_4">  
        <div class="contact_container_4_line">
            <%= image_tag "svg/link-external.svg",
            alt:"",
            srcset:"/assets/svg/link-external.svg" %>
            <a href="https://www.facebook.com/shareandchangefr" class="a_contact_container_1" target="_blank">Facebook</a>
        </div>
        <div class="contact_container_4_line">
            <%= image_tag "svg/link-external.svg",
            alt:"",
            srcset:"/assets/svg/link-external.svg" %>
            <a href="https://www.instagram.com/shareandchangefr/" class="a_contact_container_1" target="_blank">Instagram</a>
        </div>
        <div class="contact_container_4_line">
            <%= image_tag "svg/link-external.svg",
            alt:"",
            srcset:"/assets/svg/link-external.svg" %>
            <a href="https://www.linkedin.com/company/share-and-change/" class="a_contact_container_1" target="_blank">Linkedin</a>
        </div>

</div>