<h1 class="h1_contact">Contactez nous !</h1>

<div class="contact_container_1">

    <div class="contact_container_1_line">
    </div>

    <a href="mailto:shareandchange33@gmail.com" class="a_contact_container_1">shareandchange33@gmail.com</a>

</div>

<div class="contact_container_2_3">


        <p class="p_contact_container_2_3_bold"> Une association, organisation, entreprise ? </p>



        <p class="p_contact_container_2_3">Vous êtes intéressés par notre projet et souhaitez proposer vos services en visant l’inclusion sociale ? </p>


</div>

<div class="contact_container_2_3">


    <p class="p_contact_container_2_3_bold"> Un réfugié, nouvel arrivant ? </p>



    <p class="p_contact_container_2_3"> Vous souhaitez participer à notre projet au travers d’un témoignage ?</p>


</div>