<div class="breadcrumb">
<%= render_breadcrumbs :separator => ' > ' %>
</div>

<h1>Mentions légales</h1>

<p>Share and Change doit obligatoirement fournir ses mentions légales, spécifiées par la Loi pour la confiance dans l’économie numérique (LCEN) de 2004. Elles doivent apparaître sur tout site internet. Les mentions légales permettent de protéger les internautes et de fournir un moyen de contacter les éditeurs du site. </p>

<h3>1) Identité d’un représentant légal :</h3>


<ul>
    <li><p>Nom(s) et prénom(s) : Francia Bidzimou</p></li>
    <li><p>Adresse du domicile : 1 rue Jean Jacques Ellul, Bordeaux, 33800</p></li> 
    <li><p>Adresse mail : francia.bidzimou@mmibordeaux.com</p></li> 
    <li><p>Nom du directeur de la publication : Anaïs Delavier</p></li>
</ul>

<ul>
    <li><p>Nom du délégué aux données personnelles : Louna Charrieau</p></li>
    <li><p>Adresse mail : louna.charrieau@mmibordeaux.com</p></li>

</ul>

<h3>2) Hébergement :</h3>


<ul>
    <li><p>Nom de l’hébergeur : Scalingo</p></li>
    <li><p>Adresse du domicile : 15 Av. du Rhin, 67100 Strasbourg</p></li>
    <li><p>Adresse mail : support@scalingo.com</p></li>
</ul>


<h3>3) Politique de confidentialité :</h3>

<p>La plateforme à but non lucratif Share and Change doit respecter en tous points la RGPD (Règlement Général de la Protection des Données) qui est axé sur trois piliers : la responsabilité, la transparence et la confiance. Il permet d’encadrer le traitement des données personnelles sur le territoire de l’Union européenne. Conformément au RGPD (Règlement Général sur la Protection des Données), Share and Change s’engage à respecter toutes les obligations légales liées aux données personnelles* et au RGPD.</p>
<p>Notre plateforme Share and Change a obligation de transparence envers ses utilisateurs. Toutes les informations doivent être concises, transparentes, compréhensibles et aisément accessibles à propos de l’usage des données collectées.</p>
<p>Lorsque Share and Change collecte des données à caractères personnelles, ces informations seront enregistrées, stockées par l’équipe de Share and Change puis elles seront supprimées au bout de 36 mois maximum. Notre plateforme respecte le droit à la portabilité, ce qui veut dire que vous pouvez accéder aux données vous concernant. Vous pouvez également demander de les rectifier et de les effacer ou bien exercer votre droit à la limitation du traitement de vos données en contactant le responsable délégué aux données personnelles.</p>

<h3>4) Le droit applicable lors d’un litige :</h3>

<p>En cas de litige ou de non-respect des obligations et des CGU (Conditions Générales d’Utilisation) d’une des deux parties (l’éditeur de la plateforme et l’internaute), les deux parties concernées doivent se référer au droit français et aux textes législatifs dont la RGPD. Cependant, les deux parties doivent trouver un accord, un arrangement à l’amiable avant de saisir la justice française.</p>

<h3>5) Une clause d’exclusion de la responsabilité :</h3>

<p>L’équipe de Share and Change sera tenus responsable si elle publie des contenus illicites, dénigrants, etc. Nous serons donc tenue de retirer “promptement” tout contenu illicite en ligne, sinon sa responsabilité pénale est engagée. 
    En cas de propos inappropriés venant d’une personne extérieure, l'équipe de share and change, ne sera pas responsable. L’auteur sera donc tenu responsable pour la publication de contenus illicites.</p>

