<div class="quisommesnous">
 
   <div class="quisommesnous__container">
 
       <div class="quisommesnous__wrapper__left">
 
           <h1 class="quisommesnous__text__title"> Qui sommes-nous ? </h1>
 
           <h2 class="quisommesnous__text__subhead">Share&Change, c’est quoi ?</h2>
 
           <p class="quisommesnous__text__paragraph">Un projet qui a émergé dans l’esprit de 11 étudiants.
           En effet, les personnes réfugiées et migrantes connaissent solitude, isolements, troubles et traumatismes.
           Bien souvent, ces derniers sont vus comme étant en situation précaires et perdus.
           Or, beaucoup d’entre eux ont su trouver une situation stable et un confort.
           C’est pourquoi, dans l’idée de vouloir créer une réelle communauté autour de la diversité humaine,
           l’idée de créer un site web regroupant organismes, associations, start-ups et ESS a vu le jour. </p>
       </div>
 
       <div class="quisommesnous__wrapper__right">
 
           <h2 class="quisommesnous__text__subhead">Share&Change, a pour but de répondre à divers besoins en apportant toutes solutions possibles.  </h2>
     
       </div>
 
       <div class="quisommesnous__wrapper__left"> 
 
           <p class="quisommesnous__text__paragraph">En outre, cette plateforme met en avant une réelle inclusion sociale. Témoignages, Tips, aides englobent ce projet.
           La force de Share&Change est la solidarité puisque le besoin d’un réfugié, qu’il soit professionnel ou encore alimentaire peut trouver sa solution par un réfugié lui-même.
           Ainsi, de nombreuses ressources élèvent cet idéal d’humaniser chaque solution apportée. </p>
 
           <br/>
 
           <p class="quisommesnous__text__paragraph">
           Ce site web ne souhaite pas laisser de côté les réfugiés en difficulté. Bien au contraire, l’entraide et le partage sont l’essence même de Share&Change.</p>
     
       </div> 
       <div class="quisommesnous__wrapper__right">
      
          <h2 class="quisommesnous__text__subhead">Un projet qui se veut porteur de protection, fraternité et solidarité. </h2>
       </div> 
   </div>
</div>