<div class="quisommesnous">
 
   <div class="quisommesnous__container">
 
       <div class="quisommesnous__wrapper__left">
  
           <h1 class="">Qui sommes-nous?</h1>
           <h2 class="quisommesnous__text__subhead">En quoi consiste Share&Change?</h2>
 
           <p class="quisommesnous__text__paragraph">Share&Change c’est une plateforme innovante où la solution est incarnée. Elle répond à divers besoins en apportant toutes solutions possibles. Cette plateforme met en avant une réelle inclusion sociale. Témoignages, astuces et aides englobent ce projet visant à faciliter l'insertion et la vie des réfugiés en répertoriant tous les services (associations, institutions, entreprises) adaptés à leurs besoins quotidiens : alimentation, logement, 
           formation et administratif, à travers des vidéos de 30 secondes. Cette plateforme ne demande qu’à être utilisée à bon escient et connue pour que chaque personne perdue, en situation de précarité en arrivant en France puisse à son tour être aidée et soutenue. </p>
       </div>
 
       <div class="quisommesnous__wrapper__right">
 
           <h2 class="quisommesnous__text__subhead">Share&Change, a pour but de répondre à divers besoins en apportant toutes solutions possibles.</h2>
     
       </div>
 
       <div class="quisommesnous__wrapper__left"> 
 
           <p class="quisommesnous__text__paragraph">Le projet est né dans un groupe de onze étudiants animés par l'envie d'aider et de simplifier la vie des arrivants en France et réfugiés. La force de Share&Change repose sur la solidarité et une vision modernisée du numérique. Les témoignages, astuces et aides constituent les éléments clés de ce projet porteur de partage et de vivre ensemble. </p>
 
           <br/>
     
       </div> 
       <div class="quisommesnous__wrapper__right">
      
          <h2 class="quisommesnous__text__subhead">Un projet qui se veut porteur de partage et de vivre ensemble. </h2>
       </div> 
   </div>
</div>