<h1>Modifier les informations de l'association</h1>

<%= render "form", charity: @charity %>

<br>

<div>
  <%= link_to "Voir la page de l'association", @charity %> 
  <%= button_to "Supprimer l'association", @charity, method: :delete, class:"btn" %>

</div>
