button {
    outline: none;
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}

.form-inputs * {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    
    textarea{
        resize: vertical;
        padding: 10px 5px;  
        transition: 0.2s;
        font-family: 'Work Sans';
        min-height: 150px;
        &:focus{
            border-radius: 5px;
            border: 1px solid black;
        }
            
        }
    }
    input{
        font-family: 'Work Sans';
        transition: 0.2s;
        padding: 10px 5px;   
    &:focus{
        border-radius: 5px;
        border: 1px solid black;

    }
 }

        label{
    font-family: var(--ff-title);
    font-weight: 600;

}




