button {
    outline: none;
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}

.form-inputs * {
    display: flex;
    flex-direction: column;
}

.form-inputs{
    border: red;
}
