.header__navigation {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: calc(100% - clamp(1.25rem, 6.4vw, 5rem));
    margin: clamp(pxToRem(38), 4.4vw,pxToRem(56)) auto 0 auto;
    z-index: var(--zindex-header);
}

.header__menu {
    height: pxToRem(20);
    position: relative;
    width: clamp(pxToRem(20), 2.4vw, pxToRem(30));
}

.header__menu__line {
    width: 100%;
    height: 2px; 
    background-color: var(--black);
    border-radius: 25px;
}

.header__menu__line:nth-child(2),
.header__menu__line:nth-child(3) {
    position: absolute;
}

.header__menu__line:nth-child(2) {
    top: 0;
}

.header__menu__line:nth-child(3) {
    bottom: 0;
}

