.header__navigation {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: calc(100% - clamp(1.25rem, 6.4vw, 5rem));
    margin: clamp(pxToRem(38), 4.4vw,pxToRem(56)) auto 0 auto;
    z-index: var(--zindex-header);
}

.navigation-open .header__navigation {
    position: fixed;
    left: 50%;
    transform: translateX(-50%); 
    top: 0;
}

.header__menu {
    height: pxToRem(20);
    position: relative;
    padding: 24px;
    //width: clamp(pxToRem(20), 2.4vw, pxToRem(30));
    width: clamp(pxToRem(44), 2.4vw, pxToRem(6));
}

.header__menu__line {
    background-color: var(--black);
    border-radius: 25px;
    height: 2px;
    left: 6px; 
    width: 100%;
}

.header__menu__line {
    position: absolute;
    width: calc(100% - 12px);
}

.header__menu__line:nth-child(2) {
    top: 12px;
}

.header__menu__line:nth-child(3) {
    bottom: 12px;
}