:root {
    --black: #000;
    --black-variant: #262626;
    --white: #fff;
    --ff-title: "Work Sans";
    --ff-sans-serif: "Questrial";
    --ff-logo: "Blatant";
    --fw-400: 400;
    --fw-700: 700;
    --lh-paragraph: 1.5;
    --min-vw: 375;
    --max-vw: 1280;
    --min-h1-font-size: 30;
    --max-h1-font-size: 50;
    --min-h2-font-size: 25;
    --max-h2-font-size: 40;
    --min-p-font-size: 15;
    --max-p-font-size: 24; 
    --one-pixel-rem: 0.0625rem;
    --run: calc(var(--max-vw) - var(--min-vw));
    --rise-h1: calc(var(--max-h1-font-size) - var(--min-h1-font-size));
    --rise-h2: calc(var(--max-h2-font-size) - var(--min-h2-font-size)); 
    --rise-p: calc(var(--max-p-font-size) - var(--min-p-font-size)); 
    --slope-h1: calc(var(--rise-h1) / var(--run));
    --slope-h2: calc(var(--rise-h2) / var(--run));
    --slope-p : calc(var(--rise-p) / var(--run)); 
    --min-vw-rem : calc(var(--min-vw) * var(--one-pixel-rem));
    --zindex-menu: 1;
    --zindex-header: 2;
}
