.capsule {
    width: 285px;  
    margin-bottom: clamp(2.9rem, 3.3vw, 4.2rem) ;
    margin-right: var(--gutter);
    a{
        &::after{
            display: none;
        }
    }


    div {
        border-radius: 10px;
        margin-bottom: var(--gutter);
        overflow: hidden;
        padding-top: 150%;
        position: relative;

        &::after {
            bottom: 0; 
            content: "";
            left: 0;
            position: absolute; 
            right: 0;
            top: 0;
            background: linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
        }

        > * {
            color: white;
            position: absolute;
        }

        img {
            bottom: 0;
            left: 0;
            object-fit: cover;
            right: 0;
            top: 0;
            width: 100%;
            transition: 0.2s;
        }
        img + p {
            left: var(--gutter);
            top: var(--gutter);
        }

        blockquote {
            bottom: var(--gutter);
            left: var(--gutter);
            margin: 0;
            z-index: var(--zindex-blockquote);
        }

        blockquote p {
            font-family: var(--ff-title);
            font-size: clamp(pxToRem(14), 1.6vw, pxToRem(20));
            margin: 0;
            width: 90%;
        }
    }
    &:hover div img {
        transform: scale(1.1); /* Échelle de 1.1 pour agrandir l'image */
    }

    h3 {
        margin-bottom: 0;
    }

    figcaption p {
        display: flex;
        align-items: center;
        position: relative;
    }

    figcaption img {
        width: pxToRem(67);
        height: auto; 
        transform: translateY(-3%);
    }

}
