.capsule {
    div {
        margin-bottom: var(--gutter);
        padding-top: 150%;
        position: relative;
        > * {
            position: absolute;
        }
        img {
            bottom: 0;
            left: 0;
            object-fit: cover;
            right: 0;
            top: 0;
        }
        img + p {
            left: var(--gutter);
            top: var(--gutter);
        }
        blockquote {
            bottom: var(--gutter);
            left: var(--gutter);
        }
    }
}
