.capsules {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: clamp(2.9rem, 3.3vw, 4.2rem) ;

    .capsule {
        margin-right: var(--gutter);
        
    }
    

    figcaption h3 {
        margin-top: clamp(pxToRem(11), 4vw, pxToRem(49));
        font-size: clamp(pxToRem(16), 2vw, pxToRem(25));
    }

    figcaption p {
        margin: 0;
    }

    @media (max-width: 1050px) {
        justify-content: center;

        .capsule {
            margin: 20px;
            
        }
    }
}
