.capsule {
    max-width: 260px;
    div {
        border-radius: 10px;
        margin-bottom: var(--gutter);
        overflow: hidden;
        padding-top: 150%;
        position: relative;
        > * {
            position: absolute;
        }
        img {
            bottom: 0;
            left: 0;
            object-fit: cover;
            right: 0;
            top: 0;
            width: 100%;
        }
        img + p {
            left: var(--gutter);
            top: var(--gutter);
        }
        blockquote {
            bottom: var(--gutter);
            left: var(--gutter);
        }
    }
    h3 {
        margin-bottom: 0;
    }
}
