.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--grid-gutter-width);
    padding-right: var(--grid-gutter-width);
    width: 100%;
    margin-bottom: clamp(2.9rem, 3.3vw, 4.2rem) ;
    
    @media (min-width: 576px) {
        max-width: 540px;
    }
    @media (min-width: 768px) {
        max-width: 720px;
    }
    @media (min-width: 992px) {
        max-width: 960px;
    }
    @media (min-width: 1200px) {
        max-width: 1140px;
    }
    @media (min-width: 1400px) {
        max-width: 1240px;
    }
    h1{
        margin: clamp(3.9rem, 4.3vw, 5.2rem) auto;
    }
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: calc(-.5 * var(--grid-gutter-width));
    margin-left: calc(-.5 * var(--grid-gutter-width));
    > * {
        padding-right: calc(var(--grid-gutter-width) * .5);
        padding-left: calc(var(--grid-gutter-width) * .5);
    }
}

@media (min-width: 768px) {
    .offset-md-1 {
        //margin-left: var(--col);
    }
    .col-md-10 {
        width: calc(var(--col) * 10);
    }
    .col-md-11 {
        width: calc(var(--col) * 11);
    }
}
