.hero__container {
    display: flex;
}

.hero__content {
    display: flex;
    justify-content: center;
}

.hero__image {
    width: 63%;
    img {
        max-width: 110%;
    }
}

.hero__text {
    max-width: pxToRem(750);
    padding-right: clamp(pxToRem(25), 4vw, pxToRem(50));
}

.hero__text__hello {
    font-family: var(--ff-title);
    font-size: clamp(pxToRem(36), 5.5vw, pxToRem(70));
    font-style: italic;
}

.hero__text__title {
    font-size: clamp(pxToRem(26), 2.5vw, pxToRem(32));
    margin-bottom: clamp(pxToRem(29), 3.3vw, pxToRem(42));
}


@media (max-width: 1050px) {
    .hero__image {
        display: none;
    }
}

@media (min-width: 1051px) {
    .hero__content {
        margin-right: 2%;
        width: 35%;
    }
}
