.hero__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__content {
    flex: 1;
    display: flex;
    justify-content: center;
}

.hero__text {
    max-width: 75rem;
    padding: 0 clamp(2.5rem, 4vw, 5rem);
}

.hero__text__hello {
    font-size: clamp(3.6rem, 5.5vw, 7rem);
    font-style: italic;
    font-family: var(--ff-title);
}

.hero__text__title {
    font-size: clamp(2.6rem, 1vw, 3.2rem);
    margin-bottom: clamp(2.9rem, 3.3vw, 4.2rem);
}


@media (max-width: 1050px) {
    .hero__image {
        display: none;
    }
}