.menu {
    display: none;
}

.navigation-open .menu {
    align-items: center;
    background-color: var(--white);
    bottom: 0;
    display: flex;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: var(--zindex-menu);

    nav {
        width: calc(100% - clamp(1.25rem, 11.1vw, 8.875rem));
        margin: 0 auto;
        
        ul {
            margin: 2.5rem 0 0 0;
        }

        li > a {
            font-size: clamp(pxToRem(30), 4vw, pxToRem(40));
            margin: 0;
        }

        li {
            margin-bottom: 2rem;
        }

        li:last-child {
            margin-bottom: 0; 
        }
    }
}

