@font-face {
    font-family: 'Blatant';
    src: url('assets/blatant.woff2'),
         url('assets/blatant.woff');
    font-style: normal;
    font-display: swap;
}

:root {
    --black: #000;
    --white: #fff;
    --ff-title: "Work Sans";
    --ff-sans-serif: "Questrial";
    --ff-logo: "Blatant";
    --fw-400: 400;
    --fw-700: 700;
    --lh-paragraph: 1.5;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Blatant';
}

button {
    outline: none;
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}

p {
    font-family: var(--ff-sans-serif);
    font-weight: var(--fw-400);
    line-height: var(--lh-paragraph);
}

h1 {
    font-family: var(--ff-title);
}

.font-logo {
    font-family: "Blatant";
}

.nav__menu__accessibility {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200%;
    height: 200%;
}

.nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: calc(100% - clamp(2rem, 6.4vw, 8rem));
    margin: clamp(3.8rem, 4.4vw, 5.6rem) auto 0 auto;
}

.nav__logo {
    width: clamp(7.9rem, 16.6%, 20rem);
}

.nav__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__menu {
    position: relative;
    width: clamp(2rem, 2.4vw, 3rem);
    height: 2rem;
    margin-left: clamp(3rem, 5.4vw, 6.9rem);
}

.nav__menu__line {
    width: 100%;
    height: 2px; 
    background-color: var(--black);
    border-radius: 25px;
}

.nav__menu__line:nth-child(2),
.nav__menu__line:nth-child(3) {
    position: absolute;
}

.nav__menu__line:nth-child(2) {
    top: 0;
}

.nav__menu__line:nth-child(3) {
    bottom: 0;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
}

.header__text__hello {
    font-size: clamp(3.6rem, 5.5vw, 7rem);
    font-style: italic;
    font-family: var(--ff-title);
}

.header__text__title {
    font-size: clamp(2.6rem, 1vw, 3.2rem);
}

.header__text__paragraph {
    font-size: clamp(1.8rem, 1vw, 2.4rem);
}

.header__image img {
    max-width: 100%;
}




