<header class="header" role="banner">
  <div class="header__navigation">
      <a href="/" title="retour à la page d'accueil" class="logo">
          <%= image_tag("logo-black.svg", alt:"logo de share and change en noir") %>
      </a>
      <button class="header__menu">
          <div class="header__menu__line"></div>
          <div class="header__menu__line"></div>
          <div class="header__menu__line"></div>
      </button>
      <!-- <%= image_tag("france-flag.svg", alt:"France", class:"nav__lang")%> -->
   </div>
   <div class="menu">
      <%= render "nav" %>
  </div>
 </header>
