<article class="testimonial">
    <div>
        <video src="" poster="">

        </video>
        <p>Voir la vidéo</p>
        <blockquote>
          <p>J’ai pu rencontrer des professionnels, et avoir un réseau pour trouver un emploi.</p>
        </blockquote>
    </div>
    <figcaption>
      <h3>Mohammed</h3>
      <p>nous parle de Singa</p>
    </figcaption>
</article>
